.recipe {
	background: #fff;
	padding: 5rem;
	border-radius: 5rem;
}

.recipe + .recipe {
	margin-top: 3rem;
}

.recipe__head {
	padding-bottom: 2rem;
	margin-bottom: 2rem;
	border-bottom: 1px solid #000;
}

.recipe__body {
	display: flex;
	padding-bottom: 2rem;
	margin-bottom: 2rem;
	border-bottom: 1px solid #000;
}

.recipe__content {
	flex: 0 0 60%;
	max-width: 60%;
	padding-right: 2rem;
}

.recipe__content ul {
	list-style: none;
}

.recipe__content li {
	padding-left: 2rem;
	position: relative;
}

.recipe__content li:before {
	content: '';
	display: inline-block;
	width: 5px;
	height: 5px;
	background: #000;
	border-radius: 50%;
	position: absolute;
	top: 14px;
	left: 0;
}

.recipe__content h2 {
	margin-bottom: 2rem;
}

.recipe__image {
	flex: 0 0 40%;
	max-width: 40%;
}

.recipe__image img {
	width: 100%;
	height: auto;
	border-radius: 2rem;
}

.recipe__foot ul {
	display: flex;
	justify-content: space-between;
	list-style: none;
	margin-bottom: 2rem;
	font-size: 3rem;
}

.recipe__foot li {
	flex: 0 0 33.3333%;
	max-width: 33.3333%;
	text-align: center;
}

.recipe__foot h2 {
	margin-bottom: 2rem;
}

.recipe__foot h3 {
	text-align: center;
	font-size: 3rem;
}

@media (max-width: 767px) {
	.recipe {
		padding: 3rem;
	}

	.recipe__body {
		display: block;
	}

	.recipe__content,
	.recipe__image {
		max-width: 100%;
		padding: 0;
		margin: 0;
	}

	.recipe__image {
		margin-top: 2rem;
	}

	.recipe__foot ul {
		display: block;
	}

	.recipe__foot li {
		max-width: 100%;
		text-align: left;
	}

	.recipe__foot h3 {
		text-align: left;
	}
}
