.recipe {
	background: #fff;
	padding: 50px;
	border-radius: 50px;
}

.recipe + .recipe {
	margin-top: 30px;
}

.recipe__head {
	padding-bottom: 20px;
	margin-bottom: 20px;
	border-bottom: 1px solid #000;
}

.recipe__body {
	display: flex;
	padding-bottom: 20px;
	margin-bottom: 20px;
	border-bottom: 1px solid #000;
}

.recipe__content {
	flex: 0 0 60%;
	max-width: 60%;
	padding-right: 20px;
}

.recipe__content ul {
	list-style: none;
}

.recipe__content li {
	padding-left: 20px;
	position: relative;
}

.recipe__content li:before {
	content: '';
	display: inline-block;
	width: 5px;
	height: 5px;
	background: #000;
	border-radius: 50%;
	position: absolute;
	top: 14px;
	left: 0;
}

.recipe__content h2 {
	margin-bottom: 20px;
}

.recipe__image {
	flex: 0 0 40%;
	max-width: 40%;
}

.recipe__image img {
	width: 100%;
	height: auto;
	border-radius: 20px;
}

.recipe__foot ul {
	display: flex;
	justify-content: space-between;
	list-style: none;
	margin-bottom: 20px;
	font-size: 30px;
}

.recipe__foot li {
	flex: 0 0 33.3333%;
	max-width: 33.3333%;
	text-align: center;
}

.recipe__foot h2 {
	margin-bottom: 20px;
}

.recipe__foot h3 {
	text-align: center;
	font-size: 30px;
}
